.container {
  display: flex;
  flex-direction: column;
  gap: var(--primitives-space-6x);
  padding: var(--space-v-margin-xl) var(--grid-edge);
  background-color: var(--semantic-color-surface-base);
  width: 100%;
}

.headingBlock {
  max-width: var(--grid-narrow-max-width);
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.heading {
  color: var(--semantic-color-text-primary);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--primitives-space-4x);
  background: var(--semantic-color-surface-high);
  padding: var(--primitives-space-6x);
  border-radius: var(--primitives-border-radius-large);
}

.typeRow {
  display: flex;
  align-items: baseline;
  gap: var(--primitives-space-4x);
}

.typeLabel {
  color: var(--semantic-color-text-disabled);
  min-width: 96px;
  flex-shrink: 0;
}

.typeSample {
  color: var(--semantic-color-text-primary);
}
